<!DOCTYPE html>
{% extends 'main_page.html' %}
{%  block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="{% url 'manager_update' c_id=category.id %}" enctype="multipart/form-data">
    {%csrf_token%}

<div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Product Information</h4>

                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="">category name</label>
                        <input type="text" class="form-control" name="name" id="" value="{{category.name}}" placeholder="Enter category name">
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea class="form-control" id="exampleTextarea1" name="description"  rows="4">{{category.description}}</textarea>
                      </div>
                        <div>
                            <img src="{{category.image.url}}" style="border-radius: 5px; width="100px" height="100px">
                        </div>
                      <div class="form-check form-check-flat form-check-primary">
                       <input type="file" name="image">
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
    </form>

</body>
</html>
{%endblock%}
